snippet newf
	var ${1:functionName} = function(${2:args})
	{
		${3}
	}	
##
snippet tnewf
	this.${1:functionName} = function(${2:args})
	{
		${3}
	}
##
snippet newv
	var ${1:varName};
##
snippet newvwd
	var ${1:varName} = ${2:assignment};
##
snippet tnewv
	this.${1:varName};
##
snippet tnewvwd
	this.${1:varName} = ${2:assignment};
##
snippet clog
	console.log(${1:object});
##
snippet clogt
	console.log("${1:text}");
##

